#form-header {
    padding: 1.2rem;
    background-color: #f3ec78;
    background-image: linear-gradient(#E61445, #8456EC);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}